{% extends "base.html" %}
{% block title %} Scenario #{{scenario.id}} {% endblock title %}

{% block content %}
 <h1>{{scenario.title}}</h1>
 <p>{{ scenario.content}}</p>
 <form method="post" action="{{url_for('auth_bp.start_training')}}">
  <p>What clues did you notice?</p>
  {% for clue in scenario.clue_options %}
      <input
            type="checkbox"
            id="clue-{{ loop.index }}"
            name="clues"
            value="{{ clue }}"
         itemid="input-el"
         {% if result %}disabled{% endif %}>

        <label for="clue-{{ loop.index }}">
            {{ clue }}
        </label>
       
        <br>
  {% endfor %}
 <p>Is this: </p>
  <button align="left" value="scam" name="answer" id="answer-el" {% if result %}disabled{% endif %} class="btn-primary btn-full">SCAM</button> 
   <p><b>OR</b></p>
  <button align="right" value="legit" name="answer" id="answer-el" {% if result %}disabled{% endif %} class="btn-primary btn-full">LEGIT</button>
  <input type="hidden" name="scenario_id" value="{{scenario.id}}">

 </form>

 {% if result %}
  <p>Your answer was {{result.user_answer}}</p>
  <p>The answer is {{result.correct}}</p>
  <h3 >{{message}}</h3>
  <p>{{scenario.explanation}}</p>
  <h3>XP: {{result.answer_xp}}XP</h3>
  <h3>Additional XP: {{result.clue_xp}}XP</h3>
  <h3>Total XP: {{result.total_xp}}</h3>
  <h3>Total Score: {{result.total_score}}</h3>
  <h3>Correct Clue Points : {{result.clue_xp}}</h3>
  <h3>Difficulty : {{result.difficulty_points}}</h3>

  {% if level_complete %}

    <h2>🎉 LEVEL 1 COMPLETE!</h2>
    <p>Congratulations! You completed all 5 scenarios.</p>
    <h2>Performance Overview</h2>
    <ul>
      <li><b>Total Attempts</b> : {{performance_result.total_attempts}}</li>
      <li><b>Correct Attempts</b>: {{performance_result.correct_attempts}}</li>
      <li><b>Level Accuracy</b>: {{performance_result.accuracy}}</li>
      <li><b>Overall Score</b>  {{performance_result.total_score}}</li>
      <li><b>Overall XP</b> {{performance_result.total_xp}}</li>
    </ul>
  {% if ai_message %}
   <section class="ai-recommendation">
    <div class="ai-recommendation-header">
        <span class="ai-icon">🤖🧠ScamLab Intelligence</span>
        <div>
            <h3>Training Insight</h3>
            <p>Based on your recent performance</p>
        </div>
    </div>

    <p class="ai-recommendation-text">
        {{ ai_message }}
    </p>
   </section>
  {% endif %}

    <a href="{{ url_for('auth_bp.next_level') }}">
      <button type="button"  style="border-radius: 5px; background-color: blue;">NEXT LEVEL →</button>
    </a>

  {% elif next_scenario %}

    <a href="{{ url_for('auth_bp.start_training', next=next_scenario.id) }}">
        <button type="button" style="border-radius: 5px; background-color: blue;">NEXT SCENARIO</button>
    </a>

  {% endif %}
 {% endif %}
 <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock content %}
     