{% extends "base.html" %}
{% block title %}Register{% endblock title %}

{% block content %}
<h1>Register </h1>
<form method="POST" action="{{url_for('auth_bp.register')}}">
    {{form.hidden_tag()}}<!--Used to create the CRSF token -->
    <p>
        {{form.username.label }}
        {{ form.username }}
        {% for error in form.username.errors %}
          <span class="usererror">{{ error }}</span>
        {% endfor %}
    </p>
     <p>
        {{ form.email.label }}
        {{ form.email }}
        {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}
        {{ form.password() }}
        {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>

    {{ form.submit() }}
</form>
<p>
  Already Have an Account? 
 <a href="{{url_for('auth_bp.login')}}">Login Here</a>
</p>
{% endblock content %}

